.container {
  position: relative;
}

.canvas {
  border: 1px solid black;
  border-radius: 0 12px 12px 12px;
  cursor: crosshair;
  width: 100%;
}

.textbox {
  all: unset;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  width: 120px;
  font-family: Arial, Helvetica, sans-serif;
}